extends layout

block main
  form(action="/meals" method="post")
    dl
      dt
        label(for="mealName") Enter your new home-cooked meal:
      dd
        input(type="text"
              id="todoListTitle"
              name="mealName"
              placeholder="Meal Name"
              value=mealName)

    fieldset.actions
      input(type="submit" value="Save")
      a(href="/meals") Cancel